.header_content {
    background: var(--color-blanco-header);
}

/*CONTENEDOR PADRE DIV*/
.headaer_content_div {
    /*FLEX Y ROW*/
    display: flex;
    flex-direction: row;
    /*ALINEAR VERTICALMENTE*/
    align-items: center;
    padding: 15px 20px;
}

.header_content_main a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--color-negro);
}

/*CONTENEDOR PARA MODIFICAR LA IMAGEN DEL TITULO*/
.header_content_main img {
    /* ALTURA Y ANCHURA DEL LOGO*/
    width: auto;
    height: 50px;
}

.main_nav a {
    text-decoration: none;
    color: black;
}