<section class="info">
  <div>1</div>
  <div>2</div>
  <div class="first">3</div>
  <div>4</div>
</section>
<section class="back">
  <div class="back_div">
    <nav class="back_nav">
      <a [routerLink]="['/home/appointment/second-appointment']">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
          />
        </svg>
        <span>Cambiar servicio</span>
      </a>
    </nav>
    @if (appointmentService.selectedService(); as service) {
      <div class="div_info">
        <h3>Servicio elegido</h3>
        <p><strong>Servicio seleccionado:</strong> {{ service.name }}</p>
        <p><strong>Duración:</strong> {{ service.time }}</p>
        <p><strong>Precio:</strong> {{ service.price }}</p>
        <p><strong>Descripción:</strong> {{ service.description }}</p>
      </div>
    }
    @if (appointmentStylist.selectedService(); as stylist) {
      <div class="div_info">
        <h3>Peluquero elegido</h3>
        <p><strong>Peluquero seleccionado:</strong> {{ stylist.name }}</p>
        <p><strong>Especialidad:</strong> {{ stylist.description }}</p>
      </div>
    }
  </div>
</section>