<nav class="admin-acciones">
  <a routerLinkActive="activo" [routerLink]="['/admin/panel']">Panel</a>
  <a routerLinkActive="activo" [routerLink]="['/admin/calendario']">Calendario</a>
  <a routerLinkActive="activo" [routerLink]="['/admin/servicios']">Servicios</a>
  <a routerLinkActive="activo" [routerLink]="['/admin/empleados']">Empleados</a>
  <a routerLinkActive="activo" [routerLink]="['/admin/clientes']">Clientes</a>
  <a routerLinkActive="activo" [routerLink]="['/admin/ajustes']">Ajustes</a>
</nav>
<main>
  <router-outlet/>
</main>
