<nav class="admin-acciones">
    <a (click)="controlActivo()" [routerLink]="['/admin/panel']">Panel</a>
    <a (click)="controlActivo()" [routerLink]="['/admin/calendario']">Calendario</a>
    <a (click)="controlActivo()" [routerLink]="['/admin/servicios']">Servicios</a>
    <a (click)="controlActivo()" href="#">Empleados</a>
    <a (click)="controlActivo()" [routerLink]="['/admin/clientes']">Clientes</a>
    <a (click)="controlActivo()" [routerLink]="['/admin/ajustes']">Ajustes</a>
</nav>
<main>
  <router-outlet/>
</main>
