@font-face {
  font-family: Inter;
  src: 
    url('../../../../public/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Inter Medium;
  src: 
    url('../../../../public/fonts/Inter_28pt-Medium.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Inter Bold;
  src: 
    url('../../../../public/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: bolder;
}
.login-acciones{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--fondo-secundario);
    padding: 4px;
    border-radius: 17px;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.login-acciones a{
    width: 100%;
    text-decoration: none;
    padding: 7px 5px;
    border-radius: 13px;
    color: var(--texto-principal);
    font-family: Inter Medium, sans-serif;
}
.activo{
    background-color: var(--fondo-paneles);
}
.login h1{
    font-family: Inter Bold, sans-serif;
    color: var(--texto-principal);
    font-size: 45px;
    margin-bottom: 0;
}
.login h1 + p{
    font-family: Inter, sans-serif;
    color: var(--texto-secundario);
    font-size: 20px;
    margin-top: 5px;
}
.login form + p{
    font-family: Inter, sans-serif;
    color: var(--texto-secundario);
    margin-top: 30px;
}
.login{
    font-family: Inter, sans-serif;
}
.login-form{
    background-color: var(--fondo-paneles);
    border-radius: 15px;
    border: var(--borde) 1px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    text-align: start;
    box-shadow: var(--sombra-panel);
}

.login-form label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--texto-principal);
    font-family: Inter Medium, sans-serif;
    
}
.login-form label input:focus-visible{
    background-color: var(--fondo-paneles);
    border: none;
    padding: 12px;
    border: var(--borde) 1px solid;
    border-radius: 10px;
    box-shadow: var(--sombra-panel);
    font-size: 18px;
    outline: 3px var(--input-focus) solid;
    border: var(--primario) 1px solid;
}
.login-form label input{
    background-color: var(--fondo-paneles);
    border: none;
    border: var(--borde) 1px solid;
    border-radius: 10px;
    box-shadow: var(--sombra-panel);
    font-size: 18px;
    transition: all .1s ease-in;
    padding: 12px 12px 12px 15px;
}
.login-form label input::placeholder{
    color: var(--placeholder);
}
.login-form button[type="submit"]{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--primario);
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: var(--fondo-paneles);
    height: 40px;
    font-family: Inter Bold, sans-serif;
    font-size: 16px;
    margin: 10px 0;
    transition: all .2s ease-in-out;
    &:hover{
        cursor: pointer;
        background-color: var(--primario-hover);
    }
}
.login-form a, .login p + a{
    text-decoration: none;
    color: var(--primario);
    margin-top: 10px;
    font-family: Inter Medium;
}
.flecha{
    position: absolute;
}
.login p + a svg{
    transition: all .3s ease-in-out;
}
.login p + a:hover svg{
    transform: translateX(6px);
}
.login p + a{
    position: relative;
    display: inline-block;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    margin-bottom: 20px;
    margin-top: 0;
}
.login p + a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease;
}
.login p + a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.carga{
    width: 25px;
    height: 25px;
    animation: girar 1.2s linear infinite;
    animation-delay: 0s;
}

.carga-disabled{
    background-color: #9b7d96 !important;
}

@keyframes girar {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .login-form{
        width: 100%;
        margin: 0 auto;
    }
    .login-acciones{
        display: flex;
        justify-content: space-evenly;
        background-color: var(--fondo-secundario);
        padding: 4px;
        border-radius: 17px;
        width: 95%;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .login h1{
        font-size: 35px;
    }
    .login p{
        font-size: 18px;
    }
    .login {
        width: 90%;
    }
}