/*<-------------- CONTENDOR HEADER -------------->*/
/*CONTENEDOR PADRE*/
.header_content {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: var(--fondo-header-home-page);
    backdrop-filter: blur(10px);
}

/*CONTENEDOR PADRE DIV*/
.headaer_content_div {
    /*FLEX Y ROW*/
    display: flex;
    flex-direction: row;
    /*ALINEAR VERTICALMENTE*/
    align-items: center;
    /*ESPACIO ENTRE LOS HIJOS*/
    justify-content: space-between;
    padding: 15px 20px;
}

/*CONTENEDOR DEL H2 + IMG (TITULO)*/
.header_content_main {
    /*FLEX Y ROW*/
    display: flex;
    flex-direction: row;
    /*ALINEAR VERTICALMENTE*/
    align-items: center;
    /*SEPARACION DEL LOGO Y DEL TITULO*/
    gap: 10px;
}

/*CONTENEDOR PARA MODIFICAR LA IMAGEN DEL TITULO*/
.header_content_main img {
    /* ALTURA Y ANCHURA DEL LOGO*/
    width: auto;
    height: 50px;
}

/*CONTENEDOR DE LA NAVEGACION*/
.main_nav a {
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.main_nav a:first-child {
    color: var(--texto-principal);
    padding: 10px;
    border-radius: 15px;

    transition: color 0.3 ease;
}

.main_nav a:first-child:hover {
    color: var(--color-blanco);
    background-color: var(--primario-hover);
    transform: scale(1.1);
}

.main_nav a:last-child {
    color: var(--color-blanco);
    background-color: var(--primario);
    padding: 10px;
    border-radius: 15px;
    transform: scale(1);

    transition: background-color 0.3 ease, transform 0.3 ease;
}

.main_nav a:last-child:hover {
    background-color: var(--primario-hover);
    transform: scale(1.1);
}
