/* You can add global styles to this file, and also import other style files */
:root{
  --fondo-principal: #f5f5f7 ;
  --fondo-paneles: #fdfcfb;

  --fondo-secundario: #e1d1e1;

  --texto-principal: #2f2f2f;
  --texto-secundario: #585857;
  --texto-secundario-uwu: #727272;

  --borde-admin: #dfdfdf;

  --borde: #e8e8e8;
  --error: #ef4444;
  --error-hover: #8f0606;
  --error-focus: #ef4444ad;
  --error-placeholder: #ef4444d5;

  --primario: #70536b;
  --primario-hover: #391633;

  --secundario-hover: #e1cde1;

  --calendario: #f1f1f1;
  --calendario-hover: #dddddd;
  --calendario-disabled: #8f8f8f;

  --placeholder: #696969;
  --input-focus: #7d5f7863;
  --sombra-panel: 0px 1px 8px -5px #00000075;

  /***********HOME PAGE VARIABLES**************/
  --fondo-header-home-page: #ffffffbf;/*repe*/

  --color-blanco: #ffffff;
  --color-blanco-hover: #ffffff4d;
  --color-blanco-info: #f5f3f7;
  --color-blanco-border: #ececec;
  --color-blanco-header: #ffffffbf;/*repe*/

  --color-primario-home-page: #daaf77;
  --color-primario-hover-home-page: #dcbd94;

  --color-boton-rojo-home-page: #eb8b8b;

  --color-icono-home-page: #f3e8dc;
  --color-img-home-page: #c8a27a;

  --color-footer: #101828;

  --sombra-card: #0000001a;
  --sombra-card-hover: #00000033;

  --color-negro: #000000;
}
@font-face {
  font-family: Inter;
  src:
    url('../public/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Inter Medium;
  src:
    url('../public/fonts/Inter_28pt-Medium.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Inter Bold;
  src:
    url('../public/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: bolder;
}
* {
    box-sizing: border-box;
}

body{
    background-color: var(--fondo-principal);
    font-family: Inter Medium, sans-serif;
    margin: 0;
}

app-navigation-admin {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
  app-navigation-admin {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  app-navigation-admin {
    max-width: 700px;
  }
}

app-login, app-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    text-align: center;
}
app-citas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  min-height: calc(100vh - 70px);
  padding: 20px 0;
}
app-clients-component{
    display: flex;
    align-items: center;
    text-align: center;
    height: 89vh;
}
.header-off{
    display: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-first-appointment,
app-second-appointment,
app-third-appointment,
app-fourth-appointment {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
