<section class="citas" [class.blur]="modal">
  <h1>¡Bienvenido, {{userData().name}}!</h1>
  <p>Gestiona tus citas y tu perfil</p>
  <div class="citas-acciones">
    <a href="#" class="activo">Próximas citas</a>
    <a href="#">Historial</a>
    <a href="#">Perfil</a>
  </div>
    @if(numCitas() < 1){
      <article class="citas-panel">
        <svg xmlns="http://www.w3.org/2000/svg" height="78px" viewBox="0 -960 960 960" width="78px" fill="#585857">
          <path
            d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
        </svg>
        <h2>No tienes citas pendientes</h2>
        <p>Aún no tienes ninguna cita programada.</p>
        <a href="#">Reserva tu primera cita</a>
      </article>
    }@else {
      @for (cita of iterableCitas; track $index) {
        <article class="cita-reservada">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#70536b">
          <path
            d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
        </svg>
        <div class="cita-info">
          <h2>Cortesito serresiete</h2>
          <p><svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="22px" fill="#585857"><path d="M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q560-607 560-640t-23.5-56.5Q513-720 480-720t-56.5 23.5Q400-673 400-640t23.5 56.5Q447-560 480-560t56.5-23.5ZM480-640Zm0 400Z"/></svg>Josh MVP.</p>
          <p><svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="22px" fill="#585857">
          <path
            d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
        </svg>jueves, 12 de marzo de 2026.</p>
          <p><svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="22px" fill="#585857"><path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/></svg>10:00 a.m</p>
          <div class="cita-acciones">
            <button class="modificar" (click)="showModal()">Modificar</button>
            <button class="cancelar" (click)="deleteCita()">Cancelar</button>
          </div>
        </div>
      </article>
      }
    }
</section>
@if (modal) {
  <dialog class="modal">
  <header>
    <div>
      <h2>Modificar Cita</h2>
      <p>Corte y peinado</p>
    </div>
    <button (click)="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x w-5 h-5 md:w-6 md:h-6" style="color: rgb(102, 102, 102);"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg>
    </button>
  </header>
  <article class="articulo-calendario">
  <section class="container-calendario">
    <div class="acciones-calendario">
      <button (click)="restarMes()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left w-5 h-5" style="color: rgb(102, 102, 102);"><path d="m15 18-6-6 6-6"></path></svg></button>
      <h3>{{getMes()}} {{year}}</h3>
      <button (click)="sumarMes()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right w-5 h-5" style="color: rgb(102, 102, 102);"><path d="m9 18 6-6-6-6"></path></svg></button>
    </div>
    <div class="calendario">
      <p>Lun</p>
      <p>Mar</p>
      <p>Mié</p>
      <p>Jue</p>
      <p>Vie</p>
      <p>Sáb</p>
      <p>Dom</p>
      @for(item of contenidoCalendario; track $index){
        @if (year == yearActual) {
          @if(mes == mesActual && year == yearActual){
            @if(item['dia'] < diaActual){
            <button (click)="seleccionarDia($event)" disabled class="anterior">{{item['dia']}}</button>
            }@else if (item['dia'] > diaActual) {
              <button (click)="seleccionarDia($event)" class="posterior">{{item['dia']}}</button>
            }@else {
              <button (click)="seleccionarDia($event)" class="actual">{{item['dia']}}</button>
            }
          }@else if (mes > mesActual) {
            <button (click)="seleccionarDia($event)" class="posterior">{{item['dia']}}</button>
          }@else if (mes < mesActual) {
            <button (click)="seleccionarDia($event)" disabled class="anterior">{{item['dia']}}</button>
          } 
        }@else if (year < yearActual) {
            <button (click)="seleccionarDia($event)" disabled class="anterior">{{item['dia']}}</button>
        }@else if (year > yearActual) {
              <button (click)="seleccionarDia($event)" class="posterior">{{item['dia']}}</button>
        }
      } 
    </div>
  </section>
  <section>
    <h3 class="calendario-txt">Selecciona una hora:</h3>
    <div class="horas">
      @for (hora of horas; track $index) {
        <button (click)="seleccionarHora($event)" class="hora" value="{{hora.hora}}">{{hora.hora}}</button>
      }
    </div>
    <div class="nueva-cita">
      <h4>Nueva cita:</h4>
      <p>martes, 31 de marzo a las 14:00</p>
    </div>
  </section>
  </article>
  <footer>
    <button class="cancelar-calendario" (click)="closeModal()">Cancelar</button>
    <button class="confirmar-calendario" (click)="guardarCambios()">Confirmar</button>
  </footer>
</dialog>
<div class="backdrop"></div>
}
